.book-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  border: 1px solid gray;

  .isTitle {
    color: blue;
  }

  .isText {
    color: green;
  }
}
